body{
font-size: 30px;
background-color: #d2ab99;
}

.header{
margin-bottom: 10px;
border-style: solid;
font-size: 78px;
background-color: #c96480;
 text-align: center;
 
 border: 25px;
 border-color: #b47978;
}

.header h1{
    margin:0;
}

#tva{
font-size: 30px;
background-color: #b47978;
float: left;
width: 48%;
margin-right: 1%;
margin-top: 10px;

}




#fem{
font-size: 30px;
background-color: #d5aca9;
float: left;
width: 48%;
margin-top: 10px;
margin-left: 1%;
}


#tre{
font-size: 30px;
background-color: #c0b298;


clear: both;
}



